.vertical-block {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin: 3%;
	line-height: 1.5;
	text-align: justify;
	padding: 10px;
	border: 0.3rem solid rgb(161, 139, 13);
	border-radius: 2rem;
	box-shadow: 1px 1px 0.5rem #378602 inset;
}