body {
	background-image: url("../media/images/taustapilt.jpg");
	background-size: cover;
	/* background-repeat: no-repeat; */
	background-size: auto;
	background-color: rgba(80, 80, 80, 1);
	background-blend-mode: multiply;
	font-family: Arial, Helvetica, sans-serif;
	/*overflow: hidden; /* Prevent the screen from expanding when the object leaves the screen */
	font-size: 20px;
}

.main {
	color: antiquewhite;
	margin: 3%;
}

h1 {
	text-align: center;
	margin-bottom: 3%;
}

h2 {
	text-align: center;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid antiquewhite;
	margin: 1em 0;
	padding: 0;
  }

/* Style for the hyperlink */
a.custom-link {
	color: lightblue; /* Change this to the desired color */
	text-decoration: none; /* Remove underlines, if desired */
}

/* Style for visited links */
a.custom-link:visited {
	color: aquamarine; /* Change this to the desired color for visited links */
}

.objekt {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: -1;
}

@keyframes lenda {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

.img {
	border: 3px;
}

.footer {
	background-image: url("../media/images/kuu.jpg");
	background-size: cover;
	background-size: auto;
	background-color: rgba(180, 180, 180, 1);
	background-blend-mode: multiply;
	width: 90%;
	border: 0.3rem solid rgb(161, 139, 13);
	border-radius: 2rem;
	box-shadow: 1px 1px 0.5rem #378602 inset;
	padding: 50px;
	margin: 20px;
	text-shadow: 1px 1px 2px rgb(161, 139, 13), 0 0 1em black, 0 0 0.2em #378602;
 	margin-top: 10%;
}

.footer_bottom {
	text-align: center;
}
