body {
	background-image: url("../media/images/taustapilt.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgba(80, 80, 80, 1);
	background-blend-mode: multiply;
	font-family: Arial, Helvetica, sans-serif;
	/*overflow: hidden; /* Prevent the screen from expanding when the object leaves the screen */
}

.main {
	color: antiquewhite;
	margin: 3%;
}

h1 {
	text-align: center;
	margin: 0px;
	
}

h2 {
	text-align: center;
	margin: 0px;
}

/* Style for the hyperlink */
a.custom-link {
	color: lightblue; /* Change this to the desired color */
	text-decoration: none; /* Remove underlines, if desired */
}

/* Style for visited links */
a.custom-link:visited {
	color: aquamarine; /* Change this to the desired color for visited links */
}

.objekt {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: -1;
}

@keyframes lenda {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

.code{
	color: green;
	margin: 3%;
}
.img{
	float: left;
	border: 3px;
}

.footer{
	text-align: center;
	color: antiquewhite;
}